/*csslint ids: false, box-model: false*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
}

section {
    color: #2a3039;
    font-weight: 300;
    min-height: 100%;
    padding-top: 5%;
    position: relative;
    z-index: 1;
}

#intro {
    background-attachment: fixed;
    background-image: url('../image/Skate-back.gif');
    background-size: 1279px 650px, cover;
    margin-top: 10px;
}

#portfolio {
    background-attachment: fixed;
    background-color: dimgray;
}

#about {
    background-attachment: fixed;
    background-color: darkkhaki;
}

#contact {
    background-attachment: fixed;
    background-color: firebrick;
}


/*********************************************
    About Page Layout
*********************************************/

#aboutme {
    float: right;
    font-size: 0;
    width: 50%;
}

.profile {
    border-radius: 15%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap; 
    margin-left: 200px;
    max-width: 690px;
    
}

figcaption {
    font-size: 1rem;
    font-style: italic;
    margin-top: 1rem;
    text-align: center;
}

h3 {
    margin-left: 100px;
    margin-top: 1px;
}

.describe {
    font-size: 15px;
    margin-left: 100px;
    padding-top: 5px;
}


/****************************************
    Contact Messageing 
******************************************/

.contactLetter {
    color: white;
    display: block;
    font-family: Trebuchet MS;
    padding-left: 530px;
    text-transform: uppercase;
}

.contactLetter2 {
    color: white;
    display: block;
    font-family: Trebuchet MS;
    padding-left: 570px;
    text-transform: uppercase;
}

.margin {
    padding-left: 545px;
    padding-top: 20px;
    position: relative;
}

.inputGroup {
    margin-bottom: 30px;
    position: relative;
}

.inputGroup label {
    color: white;
    font-family: Trebuchet MS;
    font-size: 16px;
    font-weight: 500;
    left: 5px;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transition: all 0.3s ease;
}

.inputGroup textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #757575;
    color: #ccc;
    display: block;
    font-family: Trebuchet MS;
    left: 25px;
    padding: 5px;
    width: 280px;
}

.inputGroup input {
    background: none;
    border: none;
    border-bottom: 1px solid #757575;
    color: #ccc;
    display: block;
    font-family: Trebuchet MS;
    left: 25px;
    padding: 5px;
    width: 280px;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
    font-size: 13px;
    top: -20px;
    transition: all 0.3s ease;
}

.inputGroup input:focus ~ .inputBar:before,
.inputGroup input:focus ~ .inputBar:after,
.inputGroup textarea:focus ~ .inputBar:before,
.inputGroup textarea:focus ~ .inputBar:after {
    width: 50%;
}

.inputGroup textarea {
    height: 100px;
    overflow: auto;
    resize: none;
    width: 280px;
}

.inputGroup .inputBar {
    display: block;
    position: relative;
    width: 290px;
}

.inputGroup .inputBar:before,
.inputGroup .inputBar:after {
    background: white;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: all 0.2s ease;
    width: 0;
}

.inputGroup .inputBar:after {
    right: 50%;
}

.inputGroup .inputBar:before {
    left: 50%;
}

button {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px #a1a1a1;
    color: #3c3c3c;
    cursor: pointer;
    font-family: Trebuchet MS;
    font-size: 15px;
    margin: 0;
    padding: 15px 0;
    position: relative;
    text-transform: uppercase;
    width: 290px;
}

button:hover {
    box-shadow: 0 4px #a1a1a1;
    top: 2px;
}

button:active {
    box-shadow: 0 0;
    top: 6px;
}


/****************************************
    Gallery for Portfolio
*****************************************/

#gallerytitle {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 35px;
    margin-left: 600px;
}


/******************************
    Navigation Styling 
*********************8*********/

.dotnav-right {
    height: 100px;
    margin-top: -50px;
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 999;
}

.dotnav {
    font-size: 0.001px;
    list-style: none;
    padding: 0;
}

.dotnav > li {
    /* They only take the space of what they need but without lossing their width and height. */
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
}

.dotnav > li:nth-child(n+2) {
    margin-left: 15px;
}

.dotnav > li > a {
    border: 2px solid #66ccff;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    height: 15px;
    overflow: hidden;
    padding: 0;
    text-indent: -999%;
    vertical-align: top;
    width: 15px;
}


/*:hover is a pseudo class*/

.dotnav > li > a:hover,
.dotnav > li > a:focus {
    background: #66ccff;
    outline: none;
}

.dotnav > li > a:active {
    background: #66ccff;
}

.dotnav > li.active > a {
    background: #66ccff;
}

.dotnav-vertical > li {
    display: block;
    margin-right: 10px;
}

.dotnav-vertical > li:nth-child(n+2) {
    margin-left: 0;
    margin-top: 10px;
}

.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #66ccff;
    border: 1px solid #66ccff;
    color: #fff;
}


/*.awesome-tooltip is a class*/

.awesome-tooltip + .tooltip.left > .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #66ccff;
    border-top: 5px solid transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}


/********************
    Footer Styling 
*********************/

footer {
    background-color: black;
    /* We did NOT want the element to float anymore */
    clear: both;
    color: yellow;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}

#copyright {
    padding-top: 10px;
}

button {
    margin-top: 10px;
}

.credit {
    color: cadetblue;
}


/**********************************
    Animation Section One Fade In
***********************************/

#fadein {
    color: #444;
    font-family: 'Handlee', cursive;
    font-size: 200%;
    font-weight: normal;
    margin-left: 150px;
    margin-top: 25px;
    text-align: center;
    white-space: nowrap;
    -webkit-animation: fadein 8s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 8s;
    /* Firefox < 16 */
    -ms-animation: fadein 8s;
    /* Internet Explorer */
    -o-animation: fadein 8s;
    /* Opera < 12.1 */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*************************************
    Animation Rotation Section One
**************************************/

.rw-wrapper {
    font-family: 'Handlee', cursive;
    margin: 110px auto 0 auto;
    padding: 0px;
    position: relative;
    width: 80%;
}

.rw-sentence {
    margin: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.rw-sentence span {
    color: #444;
    font-family: 'Handlee', cursive;
    font-size: 200%;
    font-weight: normal;
    white-space: nowrap;
}

.rw-words {
    display: inline;
    text-indent: 10px;
}

.rw-words span {
    color: #6b969d;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.rw-words-1 span {
    animation: rotateWordsFirst 18s linear infinite 0s;
}

.rw-words-2 span {
    animation: rotateWordsSecond 18s linear infinite 0s;
}

.rw-words span:nth-child(2) {
    animation-delay: 3s;
    color: #6b889d;
}

.rw-words span:nth-child(3) {
    animation-delay: 6s;
    color: #6b739d;
}

.rw-words span:nth-child(4) {
    animation-delay: 9s;
    color: #7a6b9d;
}

.rw-words span:nth-child(5) {
    animation-delay: 12s;
    color: #8d6b9d;
}

.rw-words span:nth-child(6) {
    animation-delay: 0s;
    color: #9b6b9d;
}

@keyframes rotateWordsFirst {
    0% {
        opacity: 1;
        animation-timing-function: ease-in;
        height: 0px;
    }
    8% {
        opacity: 1;
        height: 60px;
    }
    19% {
        opacity: 1;
        height: 60px;
    }
    25% {
        opacity: 0;
        height: 60px;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 400px) {
    .rw-wrapper{
        padding: 0px;
        margin: 0px;
    }
    .rw-sentence span{
        font-size: 20px;
    }
    
}